
  ux-dialog>ux-dialog-header{
    background-color: #007bff; 
    color: white;
    height: 25%;
  }

  .post-detail-dialog {
    max-width: 80%;
    margin: auto;
  }
  
  .modal-title {
    font-size: 24px;
    font-weight: bold;
    background-color: #007bff; 
    color: white; 
    padding: 10px 20px; 
  }
  
  ux-dialog>ux-dialog-body{
    background-color: #f9f9f9; 
    padding: 20px; 
  }
  
  .post-content {
    padding-bottom: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .post-body {
    width: 100%;
    max-width: 600px;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #007bff; 
    border-radius: 8px;
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #333; 
    line-height: 1.6; 
  }

  .dialog-close{
    color: white;
  }
  
  
  .btn {
    margin: 5px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }


ux-dialog-footer.sticky-footer {
	background-color: hsla(0, 0%, 100%, 0.8);
	position: sticky;
	bottom: 0;
}